services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${API_PORT}:8000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app-network
    restart: "no"
    mem_limit: 2g

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_APP_API_URL: ${VITE_APP_API_URL}
    ports:
      - "${VITE_PORT}:80"
    env_file:
      - .env
    networks:
      - app-network
    mem_limit: 1g

  db:
    image: postgres:latest
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    mem_limit: 2g

volumes:
  postgres_data:

networks:
  app-network: