#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.upload-input {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  aling-items: flex-end;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
