.upload-button {
  width: 180px;
}

.trasncription-audio {
  display: block;
  flex-firection: column;
  max-width: 400px;
  margin: auto;
}

.trasncription-audio > * {
  margin-top: 20px;
  white-space: pre-wrap;
}

.record-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.record-status {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  font-size: 40px;
}

.blinking-circle {
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}

.timer {
  font-size: 3rem;
  font-weight: bold;
}

.upload-file {
  display: flex;
  align-items: flex-end;
}


.media-container {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.button-upload {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.button-item {
  width: 46%;
  height: 70%;
  font-size: 1rem;
  text-transform: none;
}

.media-upload {
  box-sizing: border-box; 
  width: 100%;
  background-color: white;
  height: 260px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
}

.dropzone {
  border: 1px dashed rgb(156 163 175);
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.dropzone-icon {
  color: #3D348B;
  font-size: 30px !important;
  display: flex;
  direction: row;
  margin: 0 auto;
}

.dropzone-bold {
  font-weight: bold;
  color: #3D348B;
}

.dropzone-span {
  color: rgb(156 163 175);
  white-space: pre-wrap;
  font-size: 12px;
}

span {
  line-height: 1.2;
  display: block;
}

p {
  color: black;
  font-size: 16px;
}

.button-detener {
  display: flex;
  flex-direction: row;
}