.upload-button {
  width: 180px;
}

.trasncription-audio {
  display: block;
  flex-firection: column;
  max-width: 400px;
  margin: auto;
}

.trasncription-audio > * {
  margin-top: 20px;
  white-space: pre-wrap;
}

.record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.record-status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blinking-circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}

.timer {
  font-size: 1.2rem;
  font-weight: bold;
}

.upload-file {
  display: flex;
  align-items: flex-end;
}