name: Deploy to Remote Server

on:
  push:
    branches:
      - main
      - "SPRINT-SEMANA*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install sshpass
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass

      - name: Deploy to server
        run: |
          sshpass -p "${{ secrets.REMOTE_PASSWORD }}" rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./ root@${{ secrets.REMOTE_HOST }}:${{ secrets.REMOTE_PATH }}

      - name: Create .env file
        run: |
          echo "${{ secrets.DOT_ENV }}" | sshpass -p "${{ secrets.REMOTE_PASSWORD }}" ssh -o StrictHostKeyChecking=no root@${{ secrets.REMOTE_HOST }} "cat > ${{ secrets.REMOTE_PATH }}/.env"

      - name: Run docker compose commands
        run: |
          sshpass -p "${{ secrets.REMOTE_PASSWORD }}" ssh -o StrictHostKeyChecking=no root@${{ secrets.REMOTE_HOST }} "cd ${{ secrets.REMOTE_PATH }} && docker compose down || true && docker compose up -d --build"
